.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /*background-color: white;*/
    margin: 6.5rem 2rem 1rem 2rem;  
}