.window{
  width: 100%;
}

.instructor-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-border {
  position: relative;
  border: 0.5px solid var(--color-card-border);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 13rem;
}

.second-img-border {
  border: 0.5px solid var(--color-card-border);
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.second-img-border:hover {
  filter: grayscale(0);
}

.instructor-card-title {
  border: none;
}
