.project-card-container{
    position: relative;
    width: 23rem;
    height: 17.78rem;
    cursor: pointer;
}

.project-icon_winner {
    z-index: 1000;
    position: absolute;
    right: -10px;
    top: -15px;
}

.project-icon_winner[theme="1"] {color: var(--color-purple);}

.project-icon_winner[theme="2"] {color: var(--color-gray);}

.project-icon_winner > svg {
    width: 45px;
    height: 45px;
}

.project-card-img{
    filter: brightness(85%);
    transition: filter .8s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project-card-img:hover{
    transform: scale(1.04);
    filter: brightness(100%);
}

.project-card-title{
    position: absolute;
    bottom: 2rem;
    background-color: rgba(62,62,60,0.6);
    border-left: 0.5rem solid var(--color-card-border);
    color: white;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
}

.project-card-title > span {
    margin: 0 1rem 0;
    padding: 0;
}

.project-card-arrow{
    fill:none;
    background-color: white;
    align-self: stretch;
    margin-left: .5rem;
}